:root {
  --yellow: rgb(252, 238, 10);
  --red: #fc012a;
  --black: #000;
  --dark: #212529;
  --primary-blue: #00f0ff;
  --second-blue: #367ca5;
  --primary-white: #ffffff;
  --green: #00a405;
}

@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

@import url('https://fonts.cdnfonts.com/css/cyberpunk-is-not-dead');

@font-face {
  font-family: '2p Regular';
  src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}

@font-face {
  font-family: 'CP Regular';
  src: url('../fonts/CIND.ttf') format('truetype');
  font-weight:500;
  font-style: normal;
}

/* para todos os navegadores */
::-webkit-scrollbar {
  width: 6px;
  /* largura da scrollbar */
  border-radius: 10px;
  /* borda arredondada */
}

::-webkit-scrollbar-track {
  background-color: transparent;
  /* cor do fundo da track */
  border-radius: 10px;
  /* borda arredondada */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ffffff, #537e89);
  /* gradiente de cores */
  border-radius: 10px;
  /* borda arredondada */
}

body {
  font-size: 1.25rem;
  background-color: var(--dark);
  color: var(--primary-white);
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  overflow-x: hidden;
}

/* cores */
.dark {
  color: var(--dark) !important;
}

.black {
  color: var(--black) !important;
}

.primary-blue {
  color: var(--primary-blue) !important;
}

.red {
  color: var(--red) !important;
}

.primary-white {
  color: var(--primary-white) !important;
}

.yellow {
  color: var(--yellow) !important;
}

/* fundo */
.bg-dark {
  background-color: var(--dark);
}

.bg-primary-blue {
  background-color: var(--primary-blue);
}

.bg-black {
  background-color: var(--black);
}

.bg-primary-white {
  background-color: var(--primary-white);
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

/* fonte */
.font-black {
  color: var(--black);
}

.font-primary-blue {
  color: var(--primary-blue);
}

.font-primary-white {
  color: var(--primary-white);
}

.ruido {
  background-image: url("../img/noise-pattern-90c709f6.png");
  background-repeat: repeat-x;
  position: 1.25rem 1.25rem;
}

.line {
  background-image: url("../img/razor-bottom-red-dc130709.svg");
  height: 1.25rem; 
  width: 100%;
  position:absolute;
}

.bg-gif-1 {
  position: relative;
  overflow: hidden;
}

/* re-use */
.titulo-caixa-text {
  font-size: 1.50rem;
  font-weight: 700;
}

.lines {
  width: 5rem;
  border: solid 1px var(--yellow);
}


.icon-s {
  background-color: var(--black);
  font-size: 2rem;
  bottom: 0;
  right: 0;
}

.padding-container {
  padding: 4rem;
}

.padding-x-container {
  padding-right: 4rem;
  padding-left: 4rem;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  color: rgb(136, 197, 240) !important;
}

.navbar-brand {
  font-family: 'CP Regular', sans-serif;
  padding-left: 10px;
  color: white !important;
}

.navbar {
  position: relative;
  /* estabelece um con  o de posicionamento para a camada de imagem */
  overflow: hidden;
  font-family: '2P Regular', sans-serif;
  font-size: 0.8rem;
}

.nav-bg-image {
  position: absolute;
  /* retira a imagem do fluxo normal da página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* posiciona a camada da imagem atrás do conteúdo da navbar */
  background-image: url('../img/porsch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) brightness(75%);
}

.nav-icon-linkedin {
  display: flex;
  padding-right: 20px;
  filter: invert(1);
  /* inverte as cores da imagem, tornando-a branca */
  transition: all 0.2s ease-in-out;
  /* adiciona uma transição suave */
}

.nav-icon-linkedin img {
  width: 20px;
}

.nav-icon-linkedin:hover {
  transform: scale(1.2);
  /* aumenta o tamanho da imagem em 20% */
}

.nav-icon-insta {
  display: flex;
  width: 40px;
  padding-right: 20px;
  filter: invert(1);
  /* inverte as cores da imagem, tornando-a branca */
  transition: all 0.2s ease-in-out;
  /* adiciona uma transição suave */
}

.nav-icon-insta img {
  width: 20px;
}

.nav-icon-insta:hover {
  transform: scale(1.2);
  /* aumenta o tamanho da imagem em 20% */
}

/* hero */
.hero-title {
  font-family: 'CP Regular', sans-serif;
  border-right: 0.4px solid white;
  height: 17rem;
  width: 60rem;
  display: flex;
  align-items: center;
}


.hero-lista {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 21px;
}

.text {
  display: flex;
}


.hero-image {
  border-radius: 15px;
  margin-right: 10px;
  margin-left: 100px;
  position: relative;
  transition: transform 0.2s ease-in-out;

  /* animação da imagem */
}

.distorção-borda {
  background-image: url(../img/eu.jpg);
  background-size: cover;
  background-position: center;
  margin-right: 10px;
  margin-left: 70px;
  height: 20vw;
  width: 50vw;
  animation: animação-distorção 20s linear infinite;
}

.animate {
  animation: animação-distorção 20s linear infinite, glitch-animation 2s linear 0s;
}

#hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 50px;
}

#hero h1 {
  font-size: 60px;
  margin: 0 100px 0 0px;
}

.row h4 {
  padding-top: 10px;
}

/* gear rotacionando */
.gear {
  width: 40px;
  height: auto;
  animation: spin 5s linear infinite;
  filter: invert(1);
}

/* snake-btn */
.snake-col {
  flex-wrap: wrap;
  display: flex;
  align-content: stretch;
  justify-content: center;
}

.snake-btn img {
  width: 30px;
  height: auto;
  margin-left: 10px;
}

.btn {
  width: 190px;
  height: 60px;
  border: 0;
  outline: none;
  background-color: var(--black);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: .85rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--yellow);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn--secondary {
  background-color: var(--primary-white);
}

.btn--secondary .btn__content {
  background-color: var(--green);
  color: var(--white-color);
}

.btn__label {
  font-size: .40rem;
  position: absolute;
  bottom: -1px;
  right: 8%;
  padding: 0 5px;
  z-index: 3;
  border-left: 1px solid var(--primary-blue);
}

.btn--secondary .btn__label {
  background-color: var(--primary-white);
  color: var(--black);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  filter: drop-shadow(-2px 3px #ff0000) drop-shadow(-1px -3px #02d8f3) drop-shadow(2px 1px #02d8f3);
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25px;
}

.footer-container {
  background-color: var(--black);
  border-radius: 5px;
}

.footer {
  background-color: var(--primary-blue);
  box-shadow: 0px -2px 12px 0px #222222;
}

.footer-lista li {
  margin-left: none;
  margin-right: auto;
}

.footer-lista {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  list-style: none;
}

.footer-lista img {
  filter: invert(1);
  width: 20px;
  margin-bottom: 4px;
}

/* intuito.html */
.my-column {
  max-width: 100px;
  /* largura máxima da coluna */
  margin: 0 auto;
  /* centraliza a coluna na página */
}

.row {
  margin-top: 100px !important;
}

.caixa {
  background-color: var(--yellow);
  border: var(--primary-blue) solid 2px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 25%;
}

.container-caixa {
  align-items: center;
  justify-content: center;
}

.cable {
  transform: rotate(-90deg);
  width: 4rem;
  height: 6rem;
}

@media (max-width: 1200px){
  .caixa {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .padding-x-container {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .caixa {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .padding-x-container {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }

  .footer-lista {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-lista li {
    margin-right: 0;
  }

  #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
  }

  .text {
    text-align: center;
    padding: 0;
  }


  .hero-title {
    border-bottom: 0.4px solid white;
    border-right: none;
    height: 10rem;
    width: 22rem;
  }

  #hero h1 {
    font-size: 50px;
    margin: 0 0 46px 0px;
    display: flex;
    flex-direction: column;
  }

  .distorção-borda {
    height: 27vw;
    width: 30vw;
    margin: 0;
  }

  .gear {
    width: 27px;
  }
}

@media screen and (max-width: 690px) {

  .footer-lista {
    display: flex;
    font-size: small;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-lista li {
    margin-right: 0;
  }

  .footer-lista img {
    width: 10px;
  }

  #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
  }

  .text {
    text-align: center;
    font-size: 18px;padding: 0;
  }


  .hero-title {
    border-bottom: 0.4px solid white;
    border-right: none;
    height: 10rem;
    width: 22rem;
  }

  #hero h1 {
    font-size: 50px;
    margin: 0 0 46px 0px;
    display: flex;
    flex-direction: column;
  }
}

  .gear {
    width: 27px;
  }